*{
    box-sizing: border-box;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btnRemove-list-group-item {
    padding: 5px 10px;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    border: 0.1px solid #000;
}

.modal-footer-confirm-remove{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.remove-cancel{
    background-color: #198754;
}

.remove-confirm{
    background-color: #dc3545;
}

.span-list-group-item{
    font-size: 20px;
}