*{
    box-sizing: border-box;
}

.crossText{
    text-decoration: line-through;
    color: black !important;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 200;
    font-style: italic;
}

.placeholder-red::placeholder {
    color: red;
}

.input-group:focus-within .btn {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}


